# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual env
.venv/
env/
venv/

# VSCode
.vscode/

# Docker
*.log
*.pid

# Test/Reports
htmlcov/
coverage/
playwright-report/
test-results/

# System files
.DS_Store
Thumbs.db



# Ignore environment and sensitive files
AI_Agents/.env
AI_Agents/simpleAIAgent_ChatGpt.py
*.env
